.game-header{
    text-align: center;
    border: solid;
    border-color:black;
    background-color:silver;
}

.game-nav{
padding: 0 1rem;
display: flex;
justify-content:center;
list-style: none;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:solid;
    border-color: black;
    background-color: silver;
}

.nav-item{
    float:left;
}

.nav-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color:darkgreen;
}

.game-footer{
    text-align:center;
    border: solid;
    background-color: silver;

}